* {
    margin: auto;
    text-align: center;
}
table {
    margin-top: 100px;
    width: 40%;
}
caption {
    font-weight: bold;
    font-size: large;
    margin-bottom: 20px;
}
th {
    background-color: beige;
}
table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}